*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page{
    height: 3000px;
    background-color: grey;
}
.wrapper{
    height: 4000px;
}
.cube{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: blue;
    display: inline-block;
    margin:10px;
    transition: all .5s;
    opacity: 1;
    top: 0;
    left: 0;
}
.circle{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: yellow;
    left: 25%;
    top: 25%;
}
.hidden{
    opacity: 0;
    top: 100px;
}

