*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 400px;
    height: 100%;
    background-color: dodgerblue ;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}
.container__controls{
    width: 100%;
}
.text-input{
    border-radius: 10px;
    height: 30px;
}
button{
    border-radius: 5px;
    height: 30px;
}
.message{
    display: inline-block;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.container__list{
    margin-top: 10px;
    list-style: none;
}
li{
    display: flex;
    align-items:center;
    background-color: darkturquoise;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
}
.check-item{
    margin-right: 10px;
}
.checked{
    background: linear-gradient(0deg, rgba(0, 159, 161, 0.363) 18%, rgba(0, 206, 209, 0.63) 59%, rgba(0, 206, 209, 0.726) 100%);
    text-decoration: line-through;
}
